@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

/* Begin letters */
footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:sender"],
[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}
/* End letters */
